/* Component palette icons - compiled into the package by
     {$R '..\Design_Src\VulkanPkg_DesignIconsVCL.res' '..\Design_Src\VulkanPkg_DesignIconsVCL.rc'}
   in the .dpk.  The IDE finds a component's icon by a BITMAP resource named
   after its class in upper case; 24x24, lower-left pixel = transparent. */

TVGSCREENRENDERDEVICE    BITMAP "TVGDEVICE.bmp"
TVGSCENE                 BITMAP "TVGSCENE.bmp"
TVGTOOLMANAGER           BITMAP "TVGTOOLMANAGER.bmp"
TVGWINDOWVCL             BITMAP "TVGWINDOWVCL.bmp"
